@media (max-width: 1250px) {
  .navbar-nav {
    margin: 10px 0 0 220px !important;
  }
}
@media (max-width: 1030px) {
  .container-content {
    margin: 0 0 0 0;
  }

  .nav-desktop {
    display: none;
  }

  .f-section {
    display: flex;
    justify-content: space-between;
    grid-template-columns: 1fr 3fr;
  }

  ul {
    margin-top: 40px;
    margin-right: 60px;
    padding: 0;
  }
}
@media screen and (max-width: 992px) {
  .navbar {
    transition: all ease-in-out 400ms !important;
  }

  .alert1 {
    display: block;
  }

  .row-padding {
    padding-top: 25em;
    padding-bottom: 10em;
  }

  .navbar-nav > li > a {
    margin: 20px auto;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 25px;
    width: 100%;
    position: relative;
    top: -600px;
    background: transparent !important;
    margin: 0 !important;
    transition: all 300ms ease-in-out;
  }

  .nav-link {
    color: #292929;
    line-height: 40px;
  }

  .portfolio-section1 {
    width: 0;
  }

  .menu-btn {
    display: block;
    margin: auto 0 auto auto;
  }

  .f-section {
    grid-template-columns: 1fr;
  }

  .scrolled {
    background: #0c172e !important;
  }

  .brandLettersDark {
    color: #fff;
  }

  .navbar-nav-dark {
    background: #0c172e !important;
    align-items: center;
  }

  .nav-link-dark {
    color: #cccccc;
  }

  .btn-line-dark {
    background: #c7c7c7 !important;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 500px;
  }
}
.alert {
  padding: 0;
  margin: 0;
}

/* @media (min-width: 714px) {
  .container {
    max-width: 560px; }
} */
@media (min-width: 798px) {
  /* .container {
    max-width: 798px; }  */
}
@media (min-width: 850px) {
  .container {
    max-width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1000px;
  }

  .container-content {
    max-width: 980px;
  }
}
@media (max-width: 1030px) {
  .container {
    max-width: 800px;
  }
}
/*# sourceMappingURL=media-queries.css.map */
html {
  /* scroll-behavior: smooth; */
}

body {
  /* position: relative; */
  margin: 0;
  /* overflow-x: hidden; */
  font-size: 16px !important;
  font-family: "Open Sans", "Poppins" !important;
  height: 100%;
  background: #fafafa;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
}

ul, ol, dl {
  margin-bottom: 1rem;
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  float: left;
  /* padding-right: 15px; */
}

.hyperlink {
  /* display: block; */
  cursor: pointer;
  text-decoration: none;
  color: #0d37ab;
  border-bottom: 0.2rem solid #0d37ab83;
  padding-right: 0;
}

.hyperlink:hover {
  border-bottom: 0.2rem solid #0d37ab;
}

.block {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  /* margin: 0 auto 0 auto; */
}

.bigheading {
  font-size: 4rem;
  font-weight: 600;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
  z-index: -10;
}

.overlay-half-x:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 80%;
  background: #77b7ff;
  opacity: 1;
  content: "";
  z-index: -1;
}

.subheading {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #0075f6;
}

h1 span {
  font-weight: 800;
  color: #0075f6;
}

.absolute {
  position: absolute;
}

.row {
  margin-top: 6em;
  margin-bottom: 40px;
}

.row-padding {
  padding-top: 5em;
  padding-bottom: 3em;
}

.full-height {
  height: 900px;
  /* height: 100%; */
  /* background: red; */
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.fixed {
  position: fixed;
}

::-webkit-scrollbar {
  z-index: 200;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d1d1d1;
}

::-webkit-scrollbar-thumb {
  background: #a1a1a1;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b;
}

.navbar {
  position: relative;
  height: 74px;
  background: transparent !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  padding: 0.5rem 1rem;
}

.nav-item .nav-link {
  font-size: 16px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 10px;
  padding-right: 10px;
  color: #000000;
  font-weight: 400;
  opacity: 1 !important;
}

.ml-auto {
  margin-left: 800px !important;
}

.navbar-brand {
  color: #000000;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.navbar-nav {
  margin: 0 auto 0 30vw !important;
}

.slide-container {
  width: 100%;
  position: relative;
  height: 650px;
}

/*.img {*/
/*  */
/*}*/
/*# sourceMappingURL=style.css.map */
