@import "media-queries";

html {
  /* scroll-behavior: smooth; */
}

body {
  /* position: relative; */
  margin: 0;
  /* overflow-x: hidden; */
  font-size: 16px !important;
  font-family: 'Open Sans', 'Poppins' !important;
  height: 100%;
  background: rgb(250, 250, 250);
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
}


ul, ol, dl {
  margin-bottom: 1rem;
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  float: left;
  /* padding-right: 15px; */
}

.hyperlink {
  /* display: block; */
  cursor: pointer;
  text-decoration: none;
  color: #0d37ab;
  border-bottom: 0.2rem solid #0d37ab83;
  padding-right: 0;
}

.hyperlink:hover {
  border-bottom: 0.2rem solid #0d37ab;
}

.block {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  /* margin: 0 auto 0 auto; */
}

.bigheading {
  font-size: 4rem;
  font-weight: 600;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
  z-index: -10;
}

.overlay-half-x:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 80%;
  background: #77b7ff;
  opacity: 1;
  content: '';
  z-index: -1;
}

.subheading {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #0075f6;
}

h1 span {
  font-weight: 800;
  color: #0075f6;
}

img {

}

.absolute {
  position: absolute;
}

.row {
  margin-top: 6em;
  margin-bottom: 40px;
}

.row-padding {
  padding-top: 5em;
  padding-bottom: 3em;
}

.full-height {
  height: 900px;
  /* height: 100%; */
  /* background: red; */
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.fixed {
  position: fixed;
}

::-webkit-scrollbar {
  z-index: 200;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d1d1d1;
}

::-webkit-scrollbar-thumb {
  background: #a1a1a1;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b;
}

.navbar {
  position: relative;
  height: 74px;
  background: transparent !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  padding: 0.5rem 1rem;
}

.nav-item .nav-link {
  font-size: 16px;
  padding-top: .7rem;
  padding-bottom: .7rem;
  padding-left: 10px;
  padding-right: 10px;
  color: #000000;
  font-weight: 400;
  opacity: 1 !important;
}

.ml-auto {
  margin-left: 800px !important;
}

.navbar-brand {
  color: #000000;
  padding-top: .7rem;
  padding-bottom: .7rem;
}

.navbar-nav {
  //margin-top: 0 !important;
  margin: 0 auto 0 30vw !important;
}

.slide-container {
  width: 100%;
  position: relative;
  height: auto;
}


